<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pediatrul Tau</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-bottom: 70px">
    <div class="container-fluid">
        <div id="header" class="row">
            <div class="col-md-4" ><img src="/Content/Images/ImgResponsive_Placeholder.jpg")" class="img-circle img-responsive" alt="imagine bebe" id="imagine-bebe"></div>
            <div id="titlu" class="col-md-4 col-md-offset-4"><h1>@Html.ActionLink("PediatrulTau", "Index", "Home")</h1></div>
        </div>
    </div>

    <div id="navbar-top" class="container-fluid">
        <nav class="navbar navbar-inverse nav-justified">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dropdown" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="dropdown">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Acasa", "Index", "Home")</li>
                        <li>@Html.ActionLink("Diagnostic", "Index", "Symptoms")</li>
                        <li><a href="#">Lista Boli</a></li>
                        <li>@Html.ActionLink("Spital", "Index", "Hospital")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Log In", "Login", "Account")</li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        
        <nav id="bottom-navbar" class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="nav navbar-nav">
                    <p>&copy;Licenta 2017 Bogdan Ungureanu</p>
                </div>
                <div class="nav navbar-nav navbar-right">
                    <a href="#"><img src="/content/images/ui/icon_facebook.png" width="33" height="33" alt="" /></a>
                    <a href="#"><img src="/content/images/ui/icon_twitter.png" width="33" height="33" alt="" /></a>
                    <a href="#"><img src="/content/images/ui/icon_google.png" width="33" height="33" alt="" /></a>
                </div>
            </div>
        </nav>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

